@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  color: @background;
  background: transparent;
}

#workspaces button {
  padding: 0px;
  color: @color2;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  background: transparent;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#backlight,
#battery,
#tray {
  color: @foreground;
  border-radius: 10px;
  border: solid @foreground 1.5px;
  padding: 5px 8px;
  background: @background;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 6px;

  box-shadow: 0px 1px 2px rgba(100, 100, 100, 1);
}


tooltip {
  border-radius: 8px;
  color: @foreground;
  background-color: @background;
}
